footer {
  background-color: #1B1A35;
  margin-top: 20px;
  text-align: center;
  color: #f1f1f1;
  a {
    color: #f1f1f1;
    margin: 10px;
  }
  i {
    padding-top: 20px;
    font-size: 30px;
  }
  p {
    margin-bottom: 0;
    padding-bottom: 30px;
  }
}