nav {
  background-color: #1B1A35;
  height: 55px;
  
  ul {
    list-style-type: none;
    li {
      display: inline-block;
      font-size: 20px;
      cursor: pointer;
      color: #F4EB91;
    }
  }
  .left {
    float: left;
    font-weight: 600;
  }


  .right {
    float: right;
    margin-right: 30px;
  }
}

