nav {
  box-shadow: 0 10px 30px rgba(0, 0, 0, .2); 
  z-index: 999;
  transition: 0.7s all;
  background-color: #1B1A35;
  height: 55px;
  position: fixed;
  top: 0;
  width: 100%;
  //color: #F4EB91;
  color: white;
  a {
    color: white;
    text-decoration: none;
  }

  ul {
    list-style-type: none;
    li {
      display: inline-block;
      font-size: 20px;
      cursor: pointer;
    }
  }
  .left {
    float: left;
    font-weight: 600;
  }


  .right {
    float: right;
    margin-right: 30px;
  }

  .links {
    display: none;
  }

  @include desktop {
    .links {
      display: block;
      float: right;
      margin-top: 6px;
      li {
        margin: 10px;
      } 
      margin-right: 20px;
    }

    .right {
      display: none;
    }
  }
}

nav.active {
  .links {
    display: block;
    background-color: white;
    color: #333;
    margin-top: 55px;
    padding: 0;
    height: 251px;

    a {
      color: #333;
    }

    li {
      text-align: center;
      display: block;
      margin: 20px;
    }
    li:first-child {
      padding-top: 20px;
    }
  }
}
